# Minecraft
public net.minecraft.client.Minecraft field_71428_T # timer
public-f net.minecraft.client.Minecraft field_71449_j # session
public net.minecraft.client.Minecraft field_71467_ac # rightClickDelayTimer
public net.minecraft.client.Minecraft func_147116_af()V # clickMouse
public net.minecraft.client.Minecraft func_147121_ag()V # rightClickMouse
public net.minecraft.client.Minecraft func_175594_ao()V # setWindowTitle

# HandshakeC2SPacket
public net.minecraft.network.packet.c2s.handshake.HandshakeC2SPacket field_149598_b # ip
public net.minecraft.network.packet.c2s.handshake.HandshakeC2SPacket field_149599_c # port

# ChatMessageC2SPacket
public net.minecraft.network.packet.c2s.play.ChatMessageC2SPacket field_149440_a # message

# PlayerMoveC2SPacket
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149479_a # x
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149477_b # y
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149478_c # z
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149476_e # yaw
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149473_f # pitch
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149474_g # onGround
public net.minecraft.network.packet.c2s.play.PlayerMoveC2SPacket field_149481_i # rotating

# CustomPayloadC2SPacket
public net.minecraft.network.packet.c2s.play.CustomPayloadC2SPacket field_149561_c # data

# Entity
public net.minecraft.entity.Entity field_70134_J # isInWeb

# PlayerEntity
public net.minecraft.entity.living.player.PlayerEntity field_71072_f # itemInUseCount
public net.minecraft.entity.living.player.PlayerEntity field_71083_bS # sleeping
public net.minecraft.entity.living.player.PlayerEntity field_71076_b # sleepTimer
public net.minecraft.entity.living.player.PlayerEntity field_71102_ce # speedInAir

# LocalClientPlayerEntity
public net.minecraft.client.entity.living.player.LocalClientPlayerEntity field_110321_bQ # horseJumpPower
public net.minecraft.client.entity.living.player.LocalClientPlayerEntity field_110320_a # horseJumpPowerCounter
public net.minecraft.client.entity.living.player.LocalClientPlayerEntity field_175171_bO # serverSprintState

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer func_175069_a(Lnet/minecraft/util/ResourceLocation;)V # loadShader
public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform

# ChestScreen
public net.minecraft.client.gui.screen.inventory.menu.ChestScreen field_147018_x # inventoryRows
public net.minecraft.client.gui.screen.inventory.menu.ChestScreen field_147015_w # lowerChestInventory

# InventoryMenuScreen
public net.minecraft.client.gui.screen.inventory.menu.InventoryMenuScreen func_146984_a(Lnet/minecraft/inventory/Slot;III)V # handleMouseClick
public net.minecraft.client.gui.screen.inventory.menu.InventoryMenuScreenCreative func_146984_a(Lnet/minecraft/inventory/Slot;III)V # handleMouseClick

# DeathScreen
public net.minecraft.client.gui.screen.DeathScreen field_146347_a # enableButtonsTimer

# Screen
public net.minecraft.client.gui.screen.Screen field_146289_q # fontRendererObj
public net.minecraft.client.gui.screen.Screen field_146292_n # buttonList
public net.minecraft.client.gui.screen.Screen func_175272_a(Lnet/minecraft/util/IChatComponent;II)V # handleComponentHover

# ListWidget
# Causes Issues with the MC-Code
# public net.minecraft.client.gui.widget.ListWidget func_148144_a(IZII)V # elementClicked

# ItemBucket
public net.minecraft.item.ItemBucket field_77876_a # isFull

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74513_e # pressed

# PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78781_i # blockHitDelay

# RenderMananger
public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ

# CloseInventoryMenuS2CPacket
public net.minecraft.network.packet.s2c.play.CloseInventoryMenuS2CPacket field_148896_a # windowId

# PlayerMoveS2CPacket
public net.minecraft.network.packet.s2c.play.PlayerMoveS2CPacket field_148936_d # yaw
public net.minecraft.network.packet.s2c.play.PlayerMoveS2CPacket field_148937_e # pitch

# EntityVelocityS2CPacket
public net.minecraft.network.packet.s2c.play.EntityVelocityS2CPacket field_149415_b # motionX
public net.minecraft.network.packet.s2c.play.EntityVelocityS2CPacket field_149416_c # motionY
public net.minecraft.network.packet.s2c.play.EntityVelocityS2CPacket field_149414_d # motionZ

# PacketUtils
public net.minecraft.network.Connection func_150733_h()V # flushOutboundQueue
public net.minecraft.network.Connection func_150732_b(Lnet/minecraft/network/Packet;[Lio/netty/util/concurrent/GenericFutureListener;)V # dispatchPacket
public net.minecraft.network.Connection field_181680_j # readWriteLock
public net.minecraft.network.Connection field_150745_j # outboundPacketsQueue
public net.minecraft.network.Connection$InboundHandlerTuplePacketListener

public net.minecraft.client.multiplayer.PlayerControllerMP field_78777_l # currentPlayerItem

public net.minecraft.client.settings.KeyBinding field_151474_i # pressTime

# FontRenderer
public net.minecraft.client.gui.FontRenderer func_78277_a(CZ)F # drawUnicodeChar
public net.minecraft.client.gui.FontRenderer field_78295_j # posX
public net.minecraft.client.gui.FontRenderer field_78296_k # posY

# ExplosionS2CPacket
public net.minecraft.network.packet.s2c.play.ExplosionS2CPacket field_149152_f # motionX
public net.minecraft.network.packet.s2c.play.ExplosionS2CPacket field_149153_g # motionY
public net.minecraft.network.packet.s2c.play.ExplosionS2CPacket field_149159_h # motionZ

# S19PacketEntityStatus
public net.minecraft.network.play.server.S19PacketEntityStatus field_149164_a # entityId

# S14PacketEntity
public net.minecraft.network.play.server.S14PacketEntity field_149074_a # entityId

public net.minecraft.entity.living.LivingEntity field_70703_bu # isJumping

public net.minecraft.client.Minecraft func_147115_a(Z)V # sendClickBlockToController

public net.minecraft.entity.Entity field_70150_b # nextStepDistance

public net.minecraft.entity.Entity field_70151_c # fire

public net.minecraft.entity.living.LivingEntity field_70773_bE # jumpTicks

public-f net.minecraft.util.math.Vec3d field_72450_a # xCoord
public-f net.minecraft.util.math.Vec3d field_72448_b # yCoord
public-f net.minecraft.util.math.Vec3d field_72449_c # zCoord

public net.minecraft.entity.living.LivingEntity field_70709_bj # newPosX
public net.minecraft.entity.living.LivingEntity field_70710_bk # newPosY
public net.minecraft.entity.living.LivingEntity field_110152_bk # newPosZ

public net.minecraft.client.gui.screen.ScreenOptionsSounds$Button

public net.minecraft.client.gui.widget.OptionSliderWidget field_146134_p # sliderValue

public net.minecraft.client.multiplayer.PlayerControllerMP func_78750_j()V # syncCurrentPlayItem

public net.minecraft.entity.living.player.PlayerEntity field_71074_e # itemInUse

public net.minecraft.client.gui.widget.ListWidget func_148131_a(I)Z # isSelected

public net.minecraft.client.renderer.entity.Render field_76989_e # shadowSize

public net.minecraft.client.Minecraft field_71429_W # leftClickCounter

public net.minecraft.client.renderer.ItemRenderer field_78453_b # itemToRender

public net.minecraft.client.renderer.entity.Render func_110775_a(Lnet/minecraft/entity/Entity;)Lnet/minecraft/util/ResourceLocation; # getEntityTexture